<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concessionária</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <header>Upper Part<br> <a href="/">Home</a> <a href="/Pag1">Primeira Página</a> <a href="/Pag2">Segunda Página</a> </header>
    {{{body}}}
    <footer>Lower Part</footer>
</body>
</html>